body {
  font-family: "Menlo", monospace;
  background-color: transparent;
}

p {
  margin-bottom: 0;
  color: white;
  white-space: pre;
}

@media (prefers-color-scheme: light) {
  p {
    color: black;
  }
}
